@model FuelRed.Web.Data.Entities.Download
<html>
<head>
  
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Security checks</h3>
                </div>
                <div class="panel-body">                    
                        <div class="gruop col-lg-6">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Check
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input asp-for="Security" /> @Html.DisplayNameFor(model => model.Security)</td>

                                    <tr>
                                        <td><input asp-for="Extinguisher" /> @Html.DisplayNameFor(model => model.Extinguisher)</td>

                                    </tr>
                                    <tr>
                                        <td><input asp-for="ground" /> @Html.DisplayNameFor(model => model.ground)</td>
                                    </tr>
                                    <tr>
                                        <td><input asp-for="Exit" /> @Html.DisplayNameFor(model => model.Exit)</td>
                                    </tr>
                                    <tr>
                                        <td><input asp-for="Area" /> @Html.DisplayNameFor(model => model.Area)</td>

                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    
                   
                        <div class="gruop col-lg-6">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Check
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input asp-for="CisternEscape" /> @Html.DisplayNameFor(model => model.CisternEscape)</td>

                                    </tr>
                                    <tr>
                                        <td><input asp-for="Container" />  @Html.DisplayNameFor(model => model.Container)</td>

                                    </tr>
                                    <tr>
                                        <td><input asp-for="Marched" />  @Html.DisplayNameFor(model => model.Marched)</td>
                                    </tr>
                                    <tr>
                                        <td><input asp-for="Recope" /> @Html.DisplayNameFor(model => model.Recope)</td>
                                    </tr>
                                    <tr>
                                        <td><input asp-for="Sample" /> @Html.DisplayNameFor(model => model.Sample)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                   
                </div>
            </div>
        </div>

    </div>
</body>

</html>


