@model FuelRed.Web.Models.DownloadviewModel


<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tanks</h3>
                <br />
                <a asp-action="AddItemTemp" asp-route-DriverId="@Model.DriverId" asp-route-TruckId="@Model.TruckId" class="btn btn-primary">Add New</a>
            </div>
            <div class="panel-body">
                @if (Model.ItemTankTemps.Count > 0)
                {

                    @foreach (var item in Model.ItemTankTemps.OrderBy(i => i.Tank.Number))
                    {
                        <div class="col-lg-3">
                            <table class="table table-striped">
                                <tr>
                                    <th>Tank</th>
                                    <th>Fuel</th>
                                    <th>Compartment</th>
                                    <th></th>

                                </tr>
                                <tr>
                                    <td>@item.Tank.Number</td>
                                    <td>@item.Fuel</td>
                                    <td>
                                        @item.Compartment.Capacity
                                    </td>
                                    <td>
                                        <button data-id="@item.Id"  class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Fuels Samples Verification</h3>
            </div>
            <div class="panel-body">
                @if (Model.ItemTankTemps.Count > 0)
                {

                    @foreach (var item in Model.ItemTankTemps.OrderBy(i => i.Tank.Number))
                    {

                        <div class="col-lg-3">
                            <table class="table table-striped">
                                <tr>
                                    <th>@item.TypeFuel</th>
                                    <th>Tank # @item.Tank.Number</th>
                                </tr>
                                <tr>
                                    <th>Check</th>
                                    <th>Review</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayNameFor(model => item.Sediments)</td>
                                    <td>  @Html.DisplayFor(model => item.Sediments)</td>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayNameFor(model => item.Color)</td>
                                    <td>  @Html.DisplayFor(model => item.Color)</td>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayNameFor(model => item.Water)</td>
                                    <td>  @Html.DisplayFor(model => item.Water)</td>
                                </tr>
                            </table>
                        </div>

                    }
                }
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        
            <div class="panel panel-default">


                <div class="panel-heading">
                    <h3 class="panel-title">Storage Tanks Measurement</h3>
                    <br />
                    <a asp-action="AddUnitTemp" asp-route-DriverId="@Model.DriverId" asp-route-TruckId="@Model.TruckId" class="btn btn-primary">Add New</a>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <colgroup itemscope span="3"></colgroup>
                            <colgroup span="3"></colgroup>
                            <colgroup itemscope span="2"></colgroup>
                            <colgroup span="2"></colgroup>
                            <colgroup itemscope span="5"></colgroup>

                            <thead>
                                <tr>
                                    <th scope="col" colspan="3">Start Measurement</th>
                                    <th colspan="3">Final Measurement</th>
                                    <th colspan="2" scope="col">Difference</th>
                                    <th colspan="2">Purchase</th>
                                    <th colspan="5" scope="col">Sotck Differences</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="col">Fuel</th>
                                    <th>M.Pulg/Cm</th>
                                    <th scope="col">Lts</th>
                                    <th>Fuel</th>
                                    <th scope="col">M.Pulg/Cm</th>
                                    <th>Lts</th>
                                    <th scope="col">Fuel</th>
                                    <th>Lts</th>
                                    <th scope="col">Fuel</th>
                                    <th>Lts</th>
                                    <th scope="col">Fuel</th>
                                    <th>Stock Lts</th>
                                    <th scope="col">Purchase Lts</th>
                                    <th>Difference</th>
                                    <th></th>

                                </tr>
                                @if (Model.UnitTemps.Count > 0)
                                {
                                    @foreach (var item in Model.UnitTemps.OrderBy(i => i.TypeFuel))
                                    {
                                        <tr>
                                            <td scope="col">@item.TypeFuel</td>
                                            <td>@item.StartPulg</td>
                                            <td scope="col">@item.StartLts</td>
                                            <td>@item.TypeFuel</td>
                                            <td scope="col">@item.EndPulg</td>
                                            <td>@item.EndLts</td>
                                            <td scope="col">@item.TypeFuel</td>
                                            <td>@item.DifferenceLts</td>
                                            <td scope="col">@item.TypeFuel</td>
                                            <td>@item.Buy</td>
                                            <td scope="col">@item.TypeFuel</td>
                                            <td>@item.DifferenceLts</td>
                                            <td scope="col">@item.Buy</td>
                                            <td>@item.DifferenceTotal</td>
                                            <td>
                                                <button data-id="@item.Id" class="btn btn-danger deleteUnit" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>

                                            </td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>

                    </div>

                </div>


            </div>
        
    </div>
</div>


